/* Reset CSS */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
abbr,
address,
b,
blockquote,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
bdi,
bdo,
caption,
cite,
mark,
dfn,
th,
td,
time,
button {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: inherit;
}

/* Remove list styles on ul, ol elements with a list, but only if they are direct children of the nav element */
nav ul,
nav ol {
    list-style: none;
}

/* Correct block-level display not defined for new HTML5 elements in older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

/* Ensure that all text inputs and textareas have the same font family */
input,
textarea {
    font-family: inherit;
}

/* Correct overflow not hidden in IE 9/10/11 */
body {
    overflow: hidden;
}

/* Define consistent box sizing */
*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Remove default margin and padding on some elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0;
}

/* Remove default margin and padding on some elements */
ol,
ul {
    margin: 0;
    padding: 0;
}
